// -wordsyn.jade
doctype html
html
    head
        title title
        script(src='/javascripts/fetchAPIdata.js')
        script(src='/javascripts/fixCanvas.js')
        style()
    body
        canvas#myCanvas&attributes({'width' = 1000 'height' : 500})

    
    